.columnsContainer {
  display: grid;
  grid-template-columns: 5% 25% 25% 15% 15% 10%;
  grid-template-areas: 
    "id name title dateloan datereturn buttons";
  color: black;
  font-weight: bold;
  width: 90%;
  margin: 1em auto;
}

